<%= render "shared/navbar" %>

<div class="container p-2">
    <div class="row">
    <div class="col-md-2">
      <h4> Contacts </h4>
      <div>
        <%= turbo_stream_from "users" %>
        <div id="users">
          <%= render @users %>
        </div>
      </div>
    </div>
    <div class="col-md-10 bg-dark text-light">
    <% if @single_conversation %>
      <h4 class="text-center"> <%= @user&.first_name || @single_conversation.name %> </h4>
      <%= turbo_stream_from @single_conversation %>
  <div id="messages">
    <%= render @messages %>
  </div>
  <%= render partial: 'layouts/new_message_form' %>
    <% end %>
  </div>
    </div>
  </div>
</div>
